*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Set default font size to 10px if the browser initial font size is 16px */
html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #fff;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.page-header__wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 32rem;
  width: 100vw;
  padding-left: 4rem;
  padding-right: 4rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 37%, rgba(0, 0, 0, 0) 100%);
  z-index: 20; }

.page-header__wrapper--background-none {
  background: transparent; }

.page-header {
  padding: 3.6rem 0 6.8rem 0; }

.page-header__logo {
  width: 7.8rem;
  height: 5.6rem;
  background: #c8ff00;
  display: inline-block;
  vertical-align: middle; }

.cb-slideshow, .cb-slideshow::after {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 0; }

.cb-slideshow::after {
  content: '';
  background: transparent url(../img/pattern.png) repeat top left; }

.cb-slideshow li span {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; }

.cb-slideshow li:nth-child(1) span {
  background-image: url(../img/backgr_1.jpg); }

.cb-slideshow li:nth-child(2) span {
  background-image: url(../img/backgr_2.jpg);
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url(../img/backgr_3.jpg);
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url(../img/backgr_4.jpg);
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) span {
  background-image: url(../img/backgr_5.jpg);
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) span {
  background-image: url(../img/backgr_6.jpg);
  animation-delay: 30s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    transform: scale(1.1) rotate(3deg); }
  25% {
    opacity: 0;
    transform: scale(1.1) rotate(3deg); }
  100% {
    opacity: 0; } }

.no-cssanimations .cb-slideshow li span {
  opacity: 1; }
